[Unit]
Description=%p %i
Before=nginx.service

[Service]
ExecStart=/usr/bin/memcached -I 10m -p 17211 -l 127.0.0.1 -m 2048 -v
Restart=always

[Install]
WantedBy=default.target
