[Unit]
Description=%p %i
ReloadPropagatedFrom=%p.service
After=postgresql.service

[Service]
ExecStart=%h/%p/server%i/pageboard
Restart=always
Environment=APPNAME=%p%i
Environment=NODE_ENV=production
Environment=VIPS_WARNING=0

[Install]
WantedBy=default.target

