[Unit]
Description=%p %i
After=postgresql.service

[Service]
ExecStart=%h/pageboard/pageboard/pageboard
Restart=always
Environment=NODE_ENV=production
Environment=VIPS_WARNING=0

[Install]
WantedBy=default.target

