[Unit]
Description=%p %i
After=postgresql.service

[Service]
WorkingDirectory=%h/pageboard/pageboard
ExecStart=%h/pageboard/pageboard/node_modules/.bin/pageboard
Restart=always
Environment=NODE_ENV=production
Environment=VIPS_WARNING=0

[Install]
WantedBy=default.target

